.attribute-card {
    text-align: center;
    width: 230px;
    height: 156px;
    margin-top: 11px;
    background: #313131;
}

.center-content,
.attribute-card > .ant-card-body {
    display: flex;
    align-items: center;
    padding: 0;
    height: 115px;
}

.attribute-card > .ant-card-head {
    font-weight: bold;
    color: #d89614;
    background: #141414;
}

.attribute-table {
    text-align: -webkit-center;
}

.attr-def-avatar {
    margin-right: auto;
    font-weight: bold;
    background: #141414;
    color: cornflowerblue;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.attr-off-avatar {
    margin-left: auto;
    font-weight: bold;
    background: #d89614;
}

.attribute-radio {
    height: 21px;
}

.attribute-radio > .ant-radio > .ant-radio-inner {
    border-color: dimgray;
}

.dice-roll-icon {
    width: 32px;
    height: 32px;
    fill: #d89614;
}

.offense-value {
    z-index: 1;
    height: 0;
}

.disable-cursor {
    cursor: not-allowed !important;
}
