.character-card {
    width: 1000px;
    height: 685px;
}

.character-card > .ant-card-head {
    text-align: center;
}

.character-card > .ant-card-body {
    /*height: 720px;*/
}

.character-card-attributes {
    /* justify-content: center; */
}

.charsheet-attr-title {
    margin: 10px;
}
