.character-card {
    width: 1000px;
    height: 800px;
    background-color: #a12e39;
}

.character-card > .ant-card-head {
    background-color: #58181c;
    text-align: center;
}

.character-card > .ant-card-body {
    height: 720px;
}

.character-card-attributes {
    /* justify-content: center; */
}

.charsheet-attr-title {
    margin: 10px;
}
