.charsheet-attr-title {
    margin: 10px;
}

.charsheet-bond-info-card > .ant-card-body,
.charsheet-race-info-card > .ant-card-body {
    padding: 0;
}

.charsheet-shield {
    width: 12px;
    fill: white;
}

.charsheet-race-info-card {
    width: 110px;
}

.charsheet-bond-info-card {
    margin-bottom: 5px;
    margin-left: 2px;
    width: 110px;
    text-align: center;
}

.charsheet-race-info-col {
    text-align: -webkit-center;
}

.charsheet-internal-card {
    /*color: #d89614;*/
    background: #1F1F1F;
    height: 25px;
}

.attr-defense,
.attr-base,
.attr-offense,
.character-card-footer {
    text-align: center;
}

.character-card-footer-submit {
    margin-right: 5px;
}

.ant-descriptions-item-label.attr-offense,
.ant-descriptions-item-label.attr-defense,
.ant-descriptions-item-label.attr-base {
    background-color: #1F1F1F;
    font-weight: bold;
}

.ant-descriptions-item-content.attr-offense {
    background-color: peru;
}

.ant-descriptions-item-content.attr-defense {
    background-color: steelblue;
}

.ant-descriptions-item-content.attr-base {
    background-color: gray;
}

.ant-input-sm {
    min-height: 24px !important;
    height: 24px !important;
}