.change-status-button {
    margin: 0 5px;
}

.circular-progress-margin {
    margin: 10px 0 10px 0;
}

.circular-progress {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.progress-field-with-check {
    margin-top: 2px;
}