.skill-mana {
    text-align: center;
}

.skill-mana-bar {
    width: 90%;
    margin-left: 5px;
}

.skill-mana-bar > .ant-progress-text {
    font-weight: bold;
}

.skill-mana-symbol {
    margin: 5px;
}

.skill-list {
    width: 950px;
    height: 459px;
    overflow: auto;
}

.skill-list-header-content {
    text-align: justify;
    margin: 0;
    display: flex;
    align-items: center;
}

.skill-list-header-panel {
    background: #58181c;
    margin-bottom: 2px;
}

.skill-list-header-panel > .ant-collapse-header {
    padding: 0 !important;
}

.skill-list-header-content-start {
    margin-right: auto;
}

.skill-list-header-content-button {
    height: 30px;
    width: 50px;
    font-weight: bold;
}

.skill-list-header-content-end {
    margin-left: auto;
    height: 50%;
    margin-right: 10px;
    text-align: end;
    width: 40px;
}

.skill-description {
    white-space: pre-line;
    text-align: justify;
}