.skill-mana {
    text-align: center;
}

.skill-mana-bar {
    width: 90%;
    margin-left: 5px;
}
.skill-mana-bar > .ant-progress-text {
    font-weight: bold;
}

.skill-mana-symbol {
    margin: 5px;
}

.skill-list {
    width: 950px;
    height: 473px;
    overflow: auto;
}

.skill-list-header-content {
    text-align: justify;
    margin: 0;
}

.skill-list-header-panel {
    background: #58181c;
}
