@import '~antd/dist/antd.dark.less';

.app-layout {
    height: 100%;
    background-image: radial-gradient(maroon, black);
}

.ant-layout-content {
    align-self: center;
}

.ant-select,
.ant-input-number-input,
.ant-input {
    background-color: #1f1f1f !important;
}

.ant-tabs-tab {
    width: 150px;
    justify-content: center;
}

.ant-tabs-tab-btn {
    color: #d89614 !important;
}

.ant-progress-text {
    color: white !important;
}

.ant-divider {
    margin: 0 0 10px 0;
}

.menu-header {
    margin-right: auto;
}

.menu-header > .ant-menu-item-selected {
    background: inherit;
}

.menu-header > .ant-menu-item-disabled {
    background: black;
}

.menu-header > .ant-menu-item {
    width: 120px;
    text-align: center;
    background: black;
}

.site-layout-header {
    padding: 0;
    display: flex;
}

.ant-select-selector {
    padding: 0 5px !important;
}

.ant-tooltip > .ant-tooltip-content > .ant-tooltip-inner {
    text-align: center;
}

/* // "root": true,
// "extends": [
//     "react-app",
//     "prettier"
// ],
// "plugins": [
//     "prettier"
// ],
// "rules": {
//     "prettier/prettier": "error"
// } */
