@import '~antd/dist/antd.dark.less';

.app-layout {
    height: 100%;
    background-image: linear-gradient(black, dimgrey, black);
}

.ant-layout-content {
    align-self: center;
}

.ant-select,
.ant-input-number-input,
.ant-input {
    background-color: #1F1F1F !important;
}

.ant-tabs-tab {
    width: 150px;
    justify-content: center;
}

.ant-tabs-tab-btn {
    color: #d89614 !important;
}

.ant-progress-text {
    color: white !important;
}

.ant-divider {
    margin: 0 0 10px 0;
}

/* // "root": true,
// "extends": [
//     "react-app",
//     "prettier"
// ],
// "plugins": [
//     "prettier"
// ],
// "rules": {
//     "prettier/prettier": "error"
// } */
